body{
    background-color: #222222;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
.centeredcontent{
    width: 70%;
    margin: auto;
    margin-top: 30px;
}

/* Navigation styline */

nav{
    font-size: 18px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
div#rightnav span{

    padding: 10px;
    margin-right: 5px;;

}

/*Anchor tag modification*/

a{
    text-decoration: none;
    color: inherit;
}

/* Hero section Styling */

div#hero{
    background-color: lightgray;
    color: #333333;
    text-align: center;

}
div#mainhero{
    display: flex;
    justify-content: space-between;
}
div#lefthero{
    margin-top: 50px;
    position: relative;
    text-align: left;
}
#lefthero h1{
    font-size: 75px;
    font-weight: 100;
}

/* Button Styling */
#contactme{
    background-color: #222222;
    color: aliceblue;
    font-size: 26px;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
}

/* Summary Section  */

.summary{
    font-size: 18px;
    margin-top: 50px;
}
.flex-container{
    display: flex;
    flex-wrap: nowrap;
    color: #222222;
    text-align: center;
}
.flex-container > div{
    background-color: lightgray;
    width: 100px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;

}

/* Work History Styling */

.bg-gray{
    background-color: lightgray;
    color: #222222;
    text-align: left;
    border-radius: 10px 10px 10px 10px;
}

.wh{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

div.left-wh{
    border-right: #222222 10px solid;
}

div.right-wh{

}
.leftdiv, .rightdiv{
    margin: 10px 20px 10px 20px;
}